* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10vmax;

}

.sub_div {
    border: 1px solid transparent;
    padding: 2vmax;
    border-radius: 10px;
    width: 30%;
    box-sizing: border-box;
    background-color: white;
}


body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

button {
    background: -webkit-linear-gradient(left, #56d8e4, #ca76ee, #bb83d5);
    width: 100%;
    transition: all 0.4s;
    height: 5vh;
    outline: none;
    border: none;
    color: white;
    font-weight: 620;
    font-size: larger;
    margin-top: 1vmax;
    border-radius: 5px;
}


button:hover {
    background: -webkit-linear-gradient(left, #4bbec9, #b669d7, #d3a8e7);
    transition: all 0.9s;
    cursor: pointer;
}

input{
    width: 100%;
    padding: 0.4vmax;
    margin-top: 0.3vmax;
    margin-bottom: 0.3vmax;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(167, 237, 214);
    font-size: large;
    outline: none;
}

textarea{
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    background-color: rgb(167, 237, 214);
    font-size: large;
    padding: 0.4vmax;
    margin-top: 0.3vmax;
    border-radius: 5px;
    margin-bottom: 0.3vmax;
    resize: none;
}

label{
    font-weight: 610;
    font-size: large;
}

.head{
    padding-bottom: 1vmax;
    text-align: left;

}

@media only screen and (max-width: 1470px ) {
    .sub_div {
        width: 50%;
    }

    form {
        padding-top: 15vmax;
    }
}


@media only screen and (max-width: 900px ) {
    .sub_div {
        width: 70%;
    }

    form {
        padding-top: 20vmax;
    }
}

@media only screen and (max-width: 550px ) {
    .sub_div {
        width: 90%;
    }
}

@media only screen and (max-width: 370px ) {
    .sub_div {
        width: 100%;
    }

    form {
        padding-top: 10vmax;
    }

    body {
        height: auto;
    }
}